@import '../../styles/var.scss';

.img-container{
    margin-top: 30px;
    width: 40%;
    .img-cont{
        background-color: #0e1013;
        color: $clr-text-light;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        margin: 20px 0;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        border: 1px solid black;
        .img{
            overflow: hidden;
            img{
                transition: all 0.8s ease;
                &:hover{
                    transform: scale(1.1);
                }
            }

        }
        .quote{
            padding: 8px;
            text-align: center;
        }
        .user-name{
            display: flex;
            justify-content: space-between;
            padding: 1px 10px;
            font-weight: 700;
            font-size: 14px;
            background-color: #0e1013;
            align-items: center;
            button{
                background: none;
                color: white;
                cursor: pointer;
                font-size: 20px;
                border: none;
            }
        }
        .like-cont{
            padding: 2px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .like-count{
            font-size: 12px;
            }
            .like-btn{
                background-color: transparent;
                cursor: pointer;
                font-weight: 700;
                font-size: 25px;
                border: none;
            }
            .like-btn[disabled]{
                cursor:default;
            }
        }
    }

}
.hello{
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width:1024px){
    .img-container{
        width: 70%;
    }
  }
  
  @media screen and (max-width:600px){
    .img-container{
        width: 90%;
        .img-cont{
            .quote{
                font-size: 12px;
            }
        }
    }
   
  }
  